body{
    background: url(/img/background.jpg);
	background-color: #444;
    background: url(/img/back1.png),url(/img/back2.png),url(/img/background.jpg);    
}

.vertical-offset-100{
    padding-top:100px;
}